<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../1-iconfont/iconfont.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/travel.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="lib/jquery-2.1.4.min.js"></script>
		<script src="lib/bootstrap.min.js"></script>
		<script src="lib/My97DatePicker/WdatePicker.js"></script>
		<script src="lib/vue.js"></script>
	</head>
	<body>
		<!--头部-->
		<!--头部导航-->
		<header id="header" >
			<div class="header-box container">	
				<a class="fl " href="index.html"><img src="img/login.png" alt="" /></a>
				<ul class="header-nav fl ">
					<li><a href="index.html">首页</a></li>
					<li><a href="exchange.html">问答</a></li>
					<li><a href="#">周边</a></li>
					<li><a href="travel.html">结伴</a></li>
					<li><a href="#">小组</a></li>
					<li><a href="jub.html">俱乐部</a></li>
					<li>
						<a href="#">更多</a>
						<i class="iconfont icon-xiala">
							<div class="nav-list">
								<a href="#" target="_blank">真人兽</a>
	                            <a href="#" target="_blank">高校</a>
	                            <a href="detailed.html" target="_blank">照片PK</a>
	                            <a href="#" target="_blank">拍卖行</a>
	                            <a href="#" target="_blank">道具商店</a>
	                            <a href="#" target="_blank">旅行电台</a>
	                            <a href="#" target="_blank">聚乐部</a>
	                            <a href="#" target="_blank">VIP</a>
	                            <a href="#" target="_blank">分歧终端机</a>
	                        </div>
						</i>
					</li>
				</ul>
				<div class="header-search fl ">
					<input  type="text" name="搜索" id="search" value="" />
					<label for="search" >
						<i class="iconfont icon-search"></i>
					</label>
				</div>
				<div class="header-login  fr">
					<a href="login.html">登录</a>
					<a href="register.html">注册</a>
					<a href="#"class="iconfont icon-weixin1">
						<img src="img/fetch_qrcode_rec.jpg" alt="" />
					</a>
					<a href="#"class="iconfont icon-qq2"></a>
					<a href="#" class="iconfont icon-xinlang1"></a>
				</div>
			</div>
		</header>
		<div class="header-img">
			<img src="img/travel/jiebanimg.jpg.PNG"/>
		</div>
		<!--正文-->
		<!--结伴热门目的地-->
		<div class="sale">
			<h3 style="margin-top:50px;font-size:20px;margin:20px;color:orange">结伴热门</h3>
			<!--ul>li*2>a[href="#"]>img+div-->
			<ul>
				<li>
					<a href="#">
						<img src="img/travel/wKgB3FEKKFOAB8vHAA48C0nVPeQ38.jpeg" alt="" />
						<div class="sale-desc">
							<h3>西藏</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				
				<li>
					<a href="#">
						<img src="img/travel/wKgB3FHidXyANqGdAAGnJkUrDpE16.jpeg" alt="" />
						<div class="sale-desc">
							<h3>青海湖</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB4lKPQ0uABTxUABrQ9BtquLg50.jpeg" alt="" />
						<div class="sale-desc">
							<h3>阿里</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB6lSiQbmAT8wLAAg4KT3uKcg611.png" alt="" />
						<div class="sale-desc">
							<h3>色达</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB6lSor-OAU4smAAaUrOFQe9A574.png" alt="" />
						<div class="sale-desc">
							<h3>稻城</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB6lSosqaAWed_AAYcHZfMZD0122.png" alt="" />
						<div class="sale-desc">
							<h3>拉萨</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB6lSotSGASc1mAASoXxTTPvM809.png" alt="" />
						<div class="sale-desc">
							<h3>阿里</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="img/travel/wKgB6lSZFWiAdGBiAAY5mrhbK18959.png" alt="" />
						<div class="sale-desc">
							<h3>新疆</h3>
							<p>
								发起127个结伴<br />
								1459人关注<br />
								295人报名
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<!--发布结伴计划-->
		<!--<div id="myPlan">
			<div class="flr-place">
				<input class="Wdate" type="text" onclick="WdatePicker({isShowClear:false,readOnly:true,specialDates:['....-..-06'],position:{left:100,top:50},doubleCalendar:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="出发时间"/>-->
	            <!--<div class="ui-input _j_go_mdd_list">
               		<input type="text" id="mudd" class="_j_mdd_input focus fl" placeholder="目的地">
	            </div>
	            <div class="drop drop-place _j_mdd_list">
	            	<ul class="all">
	            		<a class="_j_city_select" data-mddid="0" data-mddname="全部">
	            			<span class="num"><em>3793</em>个结伴</span>全部
	            		</a>
	            	</ul>
	            	<ul class="col2">
	            		<li class="_j_city_select" data-mddid="12711" data-name="云南">
	            			<a><span class="num"><em>21</em>结伴</span>云南</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10186" data-name="丽江">
	            			<a><span class="num"><em>6</em>结伴</span>丽江</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10121" data-name="泸沽湖">
	            			<a><span class="num"><em>0</em>结伴</span>泸沽湖</a>
	            			
	            		</li>
	            		<li class="_j_city_select" data-mddid="10482" data-name="香格里拉">
	            			<a><span class="num"><em>5</em>结伴</span>香格里拉</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10487" data-name="大理">
	            			<a><span class="num"><em>4</em>结伴</span>大理</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="12141" data-name="雨崩">
	            			<a><span class="num"><em>5</em>结伴</span>雨崩</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10018" data-name="束河">
	            			<a><span class="num"><em>0</em>结伴</span>束河</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10807" data-name="昆明">
	            			<a><span class="num"><em>2</em>结伴</span>昆明</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10651" data-name="腾冲">
	            			<a><span class="num"><em>0</em>结伴</span>腾冲</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10564" data-name="若尔盖">
	            			<a><span class="num"><em>0</em>结伴</span>若尔盖</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="12700" data-name="西藏">
	            			<a><span class="num"><em>181</em>结伴</span>西藏</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10442" data-name="拉萨">
	            			<a><span class="num"><em>79</em>结伴</span>拉萨</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10073" data-name="阿里">
	            			<a><span class="num"><em>43</em>结伴</span>阿里</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10417" data-name="纳木错">
	            			<a><span class="num"><em>0</em>结伴</span>纳木错</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10517" data-name="川藏南线">
	            			<a><span class="num"><em>93</em>结伴</span>川藏南线</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10814" data-name="林芝">
	            			<a><span class="num"><em>0</em>结伴</span>林芝</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10079" data-name="墨脱">
	            			<a><span class="num"><em>0</em>结伴</span>墨脱</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="11474" data-name="日喀则">
	            			<a><span class="num"><em>2</em>结伴</span>日喀则</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="11606" data-name="山南">
	            			<a><span class="num"><em>3</em>结伴</span>山南</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10811" data-name="珠穆朗玛峰">
	            			<a><span class="num"><em>2</em>结伴</span>珠穆朗玛峰</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="12703" data-name="四川">
	            			<a><span class="num"><em>143</em>结伴</span>四川</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10035" data-name="成都">
	            			<a><span class="num"><em>11</em>结伴</span>成都</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10061" data-name="稻城">
	            			<a><span class="num"><em>127</em>结伴</span>稻城</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10011" data-name="色达">
	            			<a><span class="num"><em>24</em>结伴</span>色达</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10136" data-name="九寨沟">
	            			<a><span class="num"><em>0</em>结伴</span>九寨沟</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="17315" data-name="牛背山">
	            			<a><span class="num"><em>1</em>结伴</span>牛背山</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10134" data-name="四姑娘山">
	            			<a><span class="num"><em>1</em>结伴</span>四姑娘山</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10143" data-name="峨眉山">
	            			<a><span class="num"><em>2</em>结伴</span>峨眉山</a>
	            		</li>
	            		<li class="_j_city_select" data-mddid="10091" data-name="亚丁">
	            			<a><span class="num"><em>30</em>结伴</span>亚丁</a>
	            		</li>
	            	</ul>
	            </div>
	            <p>热门结伴</p>
		        <p>最新发表</p>
		        <p>+发布我的结伴计划</p>
		    </div>
		</div>-->
		<div class="row">
			<div class="row-input">
				<input class="Wdate" type="text" onclick="WdatePicker({isShowClear:false,readOnly:true,specialDates:['....-..-06'],position:{left:100,top:50},doubleCalendar:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="出发时间"/>
				<input type="text" placeholder="出发地点" />
				<input type="text" placeholder="目的地" />
		  		<input type="button" value="发布我的计划" style="border-radius:2px;background:orange;color:#fff;font-size:24px;"/>
			</div>
			<div class="wrapper mod-place">
			    <h3 class="mod-title">结伴热门目的地</h3>
			    <div class="bd">
			        <dl class="clearfix">
			            <dt>境内 · <b>2113</b></dt>
			            <dd class="clearfix">
			                <ul>
                                <li><a class="_j_hot_mdd" data-mddname="稻城" data-mddid="10061">稻城 127</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="拉萨" data-mddid="10442">拉萨 79</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="亚丁" data-mddid="10091">亚丁 30</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="西藏" data-mddid="12700">西藏 181</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="新疆" data-mddid="13061">新疆 112</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="色达" data-mddid="10011">色达 24</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="青海湖" data-mddid="10799">青海湖 37</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="阿里" data-mddid="10073">阿里 43</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="敦煌" data-mddid="10240">敦煌 6</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="张掖" data-mddid="11340">张掖 5</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="喀纳斯" data-mddid="10732">喀纳斯 13</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="西宁" data-mddid="10800">西宁 6</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="青海" data-mddid="12788">青海 55</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="呼伦贝尔" data-mddid="10774">呼伦贝尔 33</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="林芝" data-mddid="10814">林芝 0</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="川西" data-mddid="11942">川西 101</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="乌鲁木齐" data-mddid="10218">乌鲁木齐 9</a></li>
                                <li><a class="_j_hot_mdd" data-mddname="珠穆朗玛峰" data-mddid="10811">珠穆朗玛峰 2</a></li>
                        	</ul>
			            </dd>
			        </dl>
			        <dl class="clearfix">
			            <dt>境外 · <b>1680</b></dt>
			            <dd class="clearfix">
			                <ul>
	                            <li><a class="_j_hot_mdd" data-mddname="土耳其" data-mddid="10053">土耳其 76</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="菲律宾" data-mddid="10067">菲律宾 78</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="曼谷" data-mddid="11045">曼谷 15</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="仙本那" data-mddid="28411">仙本那 29</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="新西兰" data-mddid="10544">新西兰 55</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="台湾" data-mddid="12684">台湾 68</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="摩洛哥" data-mddid="12033">摩洛哥 49</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="东京" data-mddid="10222">东京 27</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="俄罗斯" data-mddid="10300">俄罗斯 55</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="薄荷岛" data-mddid="16115">薄荷岛 20</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="马来西亚" data-mddid="10097">马来西亚 31</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="日本" data-mddid="10183">日本 32</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="尼泊尔" data-mddid="10069">尼泊尔 27</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="西班牙" data-mddid="10173">西班牙 10</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="意大利" data-mddid="10051">意大利 14</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="大阪" data-mddid="10765">大阪 5</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="印度" data-mddid="10182">印度 37</a></li>
	                            <li><a class="_j_hot_mdd" data-mddname="泰国" data-mddid="10083">泰国 74</a></li>
	                    	</ul>
			            </dd>
			        </dl>
			    </div>
			</div>
	        <div class="wrapper mod-currently">
			    <h3 class="mod-title">结伴最近回应</h3>
			    <div class="bd">
	                <div class="item item1">
		                <a class="avatar " href="/u/49674582.html"><img src="http://b3-q.mafengwo.net/s11/M00/DE/26/wKgBEFtMpD-AE4j4AANtTKZWbLc32.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" width="68"></a>
		                <p><a href="/u/49674582.html">剑光</a> 回应了 <a class="title" href="/together/detail/2237543.html">2018 中秋+国庆小长假 16天西藏朝圣结伴 6Q2:</a><br>四驱硬派越野车，包车拼车价低，川藏线老司机，不赶路不购物，你说去哪儿就去...</p>
		            </div>
		            <div class="item item2">
		                <a class="avatar avatar90" href="/u/89430042.html"><img src="http://p2-q.mafengwo.net/s11/M00/CD/64/wKgBEFq5AKOAK87IAAAMim7uihY31.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" width="90"></a>
		                <p><a href="/u/89430042.html">科燕</a> 回应了 <a class="title" href="/together/detail/2236391.html">菲律宾，薄荷杜马巴拉望:</a><br>我们夫妻两已定了9.3去菲律宾的机票，13回国的机票，跟你们的行程安排大致一样</p>
		            </div>
		            <div class="item item3">
		                <a class="avatar " href="/u/89430042.html"><img src="http://p2-q.mafengwo.net/s11/M00/CD/64/wKgBEFq5AKOAK87IAAAMim7uihY31.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" width="68"></a>
		                <p><a href="/u/89430042.html">科燕</a> 回应了 <a class="title" href="/together/detail/2236391.html">菲律宾，薄荷杜马巴拉望:</a><br>目前两位，9月1日出发七天环线，我们夫妻两已定了9.3去菲律宾的机票，13回国的机票，找两位时间一样的快乐出发。微信18797145181
		            </div>    
		            <div class="item item4">
		                <a class="avatar avatar90" href="/u/89430042.html"><img src="http://p2-q.mafengwo.net/s11/M00/CD/64/wKgBEFq5AKOAK87IAAAMim7uihY31.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" width="90"></a>
		                <p><a href="/u/89430042.html">科燕</a> 回应了 <a class="title" href="/together/detail/2236391.html">菲律宾，薄荷杜马巴拉望:</a><br>我们夫妻两已定了9.3去菲律宾的机票，13回国的机票，不赶路不购物，你说去哪儿就去...</p>
		            </div>
		            <div class="item item5">
		                <a class="avatar " href="/u/89430042.html"><img src="http://p2-q.mafengwo.net/s11/M00/CD/64/wKgBEFq5AKOAK87IAAAMim7uihY31.jpeg?imageMogr2%2Fthumbnail%2F%21120x120r%2Fgravity%2FCenter%2Fcrop%2F%21120x120%2Fquality%2F90" width="68"></a>
		                <p><a href="/u/89430042.html">科燕</a> 回应了 <a class="title" href="/together/detail/2236391.html">菲律宾，薄荷杜马巴拉望:</a><br>2018 中秋+国庆小长假 16天西藏朝圣结伴 6Q2:跟你们的行程安排大致一样</p>
		            </div>
		        </div>
			</div>
		  </div>
			<div id="target">
				<h4 style="">旅友发布的结伴</h4>
				<p>计划总数：<span style="color:orange">{{targetArr.length}}</span>&nbsp;&nbsp;</p>
				<div class="ping a1">
					<input type="text" name="" id="liuyan" autofocus="autofocus" placeholder="请输入评论内容..." value="" />
					<button id="btn">提交点评</button>
					<div id="dome">
						<div class="comment">
							
						</div>
					</div>
					<div id="cuo" style="display: none;">！输入内容不能为空...</div>
				</div>
				<ul>
					<li :class="{finish:item.bol}" v-for="(item,index) in targetArr">
						<p type="checkbox" v-model="item.bol"/>
						<span @click="edit(index)" v-if="!item.edit">{{item.des}}</span>
						<input v-focus="msg2" @blur="item.edit=false" v-model="item.des" type="text" v-if="item.edit"/>
					</li>
				</ul>
			</div>
		</body>
		  
		  <!--轮播图-->
		  <!--轮播图-->
		<div class="carousel slide" id="myCarousel">
			<!--放小圆点的区域-->
			<ol class="carousel-indicators">
				<li class="active" data-target="#myCarousel" data-slide-to="0"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			
			<!--中间放图片的-->
			<div class="carousel-inner">
				<div class="item active">
					<img src="img/travel/banner_0313_02.jpg" alt="" />
				</div>
				<div class="item">
					<img src="img/travel/banner_0313_03.jpg" alt="" />
				</div>
				<div class="item">
					<img src="img/travel/banner_0313_04.jpg" alt="" />
					<div class="carousel-caption">
						
					</div>
				</div>
			</div>
			
			<!--左右两边-->
			<div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#" class="right carousel-control" data-target="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	  <!--底部-->
		<div id="footer">
			<div class="ft-content">
				<div class="ft-copyright">
				    <a href="http://www.mafengwo.cn">
				    	<i class="ft-mfw-logo"></i>
				    </a>
				    <p>© 2018 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502013401" target="_blank"><img src="http://images.mafengwo.net/images/footer/police_record.png" width="12" style="margin:0 2px 4px 0;">京公网安备11010502013401号</a> <a href="http://images.mafengwo.net/images/about/icp2.jpg" target="_blank" rel="nofollow">京ICP证110318号</a><span class="m_l_10">网络出版服务许可证：(总)网出证(京)字第161号</span></p>
				    <p>增值电信业务经营许可证：京B2-20180228 <a href="http://images.mafengwo.net/images/about/licence_3.jpg" target="_blank" rel="nofollow" class="m_l_10">营业执照</a><a href="/sales/uhelp/doc" target="_blank" rel="nofollow" class="m_l_10">帮助中心</a><span class="m_l_10">马蜂窝客服：国内</span><span class="highlight">4006-345-678</span><span class="m_l_10">海外</span> <span class="highlight">+86-10-5922-2799</span></p>
				</div>
				<div class="ft-safety">
				    <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
				    <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&amp;ct=df&amp;a=1&amp;pa=787189" target="_blank" rel="nofollow"></a>
				    <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
				</div>
			</div>
		</div>
		
		<!--引入jQuery文件-->
		<script>
			$(function(){
				$(".sale li").hover(function(){
					var $descHeight = $(this).find(".sale-desc").height();
					var top = $(this).height() - $descHeight;
					$(this).find(".sale-desc").css("top",top);
				},function(){
					$(this).find('.sale-desc').css({
						top:230
					});
				});
			});
			
			//轮播图
			$('#myCarousel').carousel({
				interval:1000,
				//pause:"hover"
				//wrap:true
			});

			//此事件在slide方法调用之后立即触发
			/*$("#myCarousel").on("slide.bs.carousel",function(){
				//alert("slide");
			});
			
			//在一张图片结束轮播之后触发
			$("#myCarousel").on("slid.bs.carousel",function(){
				//alert("slid");
			});*/
			
			//vue
			var vm = new Vue({
				el:"#target",
				directives:{
					focus:{
						//inserted  代表插入到dom的时候
						inserted:function(el,binding,vnode){
							el.focus();
							//console.log(binding.value.color);
							//console.log(binding.value.background);
							el.style.background = binding.value.background;
							el.style.color = binding.value.color;
//							console.log(binding.expression);
						}
					}
				},
				data:{
					//任务数据
					targetArr:[
						{des:"黑白配：国庆想去云南有一起的么？可配合你的计划，最好去苍山洱海、大理丽江。",bol:false,edit:false},
						{des:"诺曼底：元旦九寨沟约么？淡季可以两天进沟旺季只能进沟一次，再次进沟需要再次购票，而且价格奇高。所以元旦去最好了...",bol:false,edit:false},
						{des:"绿毛虫：重阳节爬梧桐山，登高看美景",bol:false,edit:false}
					],
					msg:"",
					msg2:{
						color:"black",
						background:"#ccc",
						
					}
				},
				methods:{
					add:function(){
						//往数组targetArr里面添加条目
						this.targetArr.push({des:this.msg,bol:false,edit:false});
						//清空msg
						this.msg = "";
					},
					edit:function(index){
						//更改具体项的edit为true
						this.targetArr[index].edit = true;
					},
					unfinish:function(){
						//如何实现未完成的条数？
						//遍历targetArr,获取每一项的bol为false的个数返回即可
						var num = 0;
						this.targetArr.forEach(function(item){
							if(!item.bol){//如果是未完成的话
								num++;
							}
						});
						return num;
					},
					
					finish:function(){//点击完成的时候
						var tempArr = this.targetArr;
						this.targetArr = [];
						for(var i=0;i<tempArr.length;i++){
							if(!tempArr[i].bol){//代表未完成的
								this.targetArr.push(tempArr[i]);
							}
						}
					}
				}
			});
		
			//留言板
			var myDiv = document.getElementById("dome");
			var myIpt = document.getElementById("liuyan");
			var myBtn = document.getElementById("btn");
			var myC = document.getElementById("cuo");
				
			var time = new Date().toLocaleString();
			myBtn.onclick = function(){	
				var vul = myIpt.value;
				if(vul==""){
					myC.style.display="block";
				}else{
					myC.style.display="none";
					myDiv.innerHTML	+= "<p>"+myIpt.value + "</p>"+"<span>"+time+"</span>"+"</br>";
					myIpt.value = '';
				}
			}
			document.onkeydown = function(ev){
				var vul = myIpt.value;
				var myEv = ev||event;
				if(myEv.keyCode == 13|| myEv.ctrlKey){
				    if(vul==""){
						myC.style.display="block";
				    }else{
				    	myDiv.innerHTML	+= "<p>"+myIpt.value + "</p>"+"<span>"+time+"</span>"+"</br>";
			  			myIpt.value = '';
				   		myC.style.display="none";
				    }
				}	
			}
			
			
			
			
		</script>
	</body>
</html>