body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td{
    margin:0;
    padding:0;
    font:12px/1.5 "宋体","Arial","sans-serif","Tahoma";
    color:#666;
}
ul,ol,li{list-style:none;}
img{border:none;}
input,select,img{vertical-align:middle;}
label{vertical-align: middle}
input,focus,textarea:focus{outline:none}
#submitBtn{
	width:250PX;
    height:40px;
    background:orange;
    color:#fff;
    border: none;
    cursor: pointer;
}
.message{
    display:none;
}
.message i{
	display:inline-block;
    vertical-align: middle;
    width:26px;
    height:27px;
    background:url(../img/sprite.jpg) no-repeat;
}
.message .active{background-position:100px 100px}
.message .err{background-position:0 -58px}
.message .ok{background-position:0 -31px}


